//team section style
.about_area {
    .about_image {
        img {
            width: 100%;
        }
    }

    .about_info {





        p {

            margin-bottom: 22px;
            margin-top: 28px;

        }

        ul {
            margin-bottom: 56px;
            list-style: none;
            margin-left: 10px;

            li {
                font-size: 1rem;
                line-height: 100%;
                color: $dark;
                position: relative;
                margin-bottom: 5px;
                padding-left: 20px;

                z-index: 1;

                &::before {
                    position: absolute;
                    left: 0;
                    background-image: url(/images/icon/1.services-icon/check.svg);
                    width: 16px;
                    height: 16px;
                    content: '';
                    top: 0;
                    transform: translate(-50%);
                }
            }
        }

        .boxed-btn3 {
            padding: 13px 46px 14px 46px;
        }

    }
}